<h1>User Info</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Happiness  
    <th>Nausea  
    <th>Height
    <th>Tickets
    <th>Mood</th>  
  </tr>
  <%= render partial: 'user', locals: {user: @user} %>
</table>


