<% if @user.admin%>
  <h1>ADMIN</h1>
<% end %>

<h2>User Info</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Happiness  
    <th>Nausea  
    <th>Height
    <th>Tickets
    <th>Mood</th>  
  </tr>
  <%= render partial: 'user', locals: {user: @user} %>
</table>

<%= link_to "See Attractions", attractions_path %>
<%= link_to "Log Out",  '/signout', method: :post %>



