<% if @user.admin%>
  <h1>ADMIN</h1>
<% end %>

<% if flash[:message] %>
  <p><%= flash[:message] %></p>
<% end %>

<h2>User Info</h2>

<ul>
  <%= render partial: 'user', locals: {user: @user} %>
</ul>

<%= link_to "See attractions", attractions_path %><br>
<%= link_to "Log Out",  '/signout', method: :post %>



